{% extends "base.html" %}
{% block content %}
<h2>Cart Items</h2>
{% if cartitem_list %}
<div class="row">
    {% for cartitem in cartitem_list %}
    <div class="row h-200 margin-5 bg-white">
        <div class="col-4 col-md-3 padding-zero align-self-center" height="100%">
            {% load static %}
            <img class="img-fluid" src="{% static 'images/placeholder.png' %}" height="100%">
        </div>
        <div class="col-8 col-md-9">
            <div class="row">
                <div class="col-12 mt-md-4">
                    <h6><a href="{{ cartitem.get_absolute_url }}">{{ cartitem.get_name }}</a></h6>
                </div>
                <div class="col-12 col-md-6 mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-primary" type="button">-</button>
                        </div>
                        <input type="number" class="form-control text-center" value="{{ cartitem.quantity }}">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">+</button>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-md-2">
                    <button class="btn btn-danger" type="button">Delete</button>
                </div>
                <div class="col-8 col-md-4 align-self-center text-right">
                    <strong class="my-auto">₹ {{ cartitem.get_price }}</strong>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>There are no items in the cart.</p>
{% endif %}
{% endblock %}