{% extends 'base.html' %}
{% block content %}
<div class="row">
	<div class="col-lg-6">
		<div class="box-element shadow-sm bg-white" id="form-wrapper">
            <form id="ship-form">
                {% csrf_token %}
                <div id="user-info">
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Name..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email..">
                    </div>
                </div>

                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information:</p>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Address..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="City..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="state" placeholder="State..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                    </div>
                </div>
                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
            </form>
            <br>
		</div>
        <div class="box-element" id="payment-info">
            <small>Paypal Options</small>
            <button id="make-payment">Make Payment</button>
        </div>
	</div>

	<div class="col-lg-6 box-element bg-white shadow-sm">
        <h4> Order Summary </h4>
        <h6>Total: ₹{{ order.get_total_price|floatformat:2 }}</h6>
        <h6>Items: {{ order.get_total_quantity }}</h6>
		{% for cart_item in cart_items %}
        <div class="row h-200 margin-5 bg-white shadow-sm">
            <div class="col-4 col-md-3 padding-zero align-self-center" height="100%">
                <img class="img-fluid size-100" src="{{ cart_item.product.image_url }}" height="100%">
            </div>
            <div class="col-8 col-md-9">
                <div class="row box-element">
                    <div class="col-12">
                        <h6><a href="{{ cart_item.product.get_absolute_url }}">{{ cart_item.product.name }}</a></h6>
                    </div>
                    <div class="col-8 align-self-center">
                        <strong class="my-auto">Quantity: {{ cart_item.quantity }}</strong>
                    </div>
                    <div class="col-8 col-md-4 align-self-center text-right">
                        <strong class="my-auto">₹ {{ cart_item.get_total_price }}</strong>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
	</div>
</div>
{% endblock content%}