{% extends "base.html" %}
{% block content %}
{% if product_list %}
<div class="row justify-content-md-center">
    {% for product in product_list %}
    <div class="col-lg-3 bg-white margin-15 padding-zero">
        {% load static %}
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}" width="100%"/>
        <div class="box-element">
            <a href="{{ product.get_absolute_url }}">
                <h6 class="align-self-center"><strong>{{ product.name }}</strong></h6>
            </a>
            <hr class="margin-5">
            <a class="btn btn-primary add-to-cart" data-id="{{ product.id }}">Add to cart</a>
            <h4 class="product-price">₹{{ product.price }}</h4>

        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>There are no products in the store.</p>
{% endif %}
{% endblock %}